/* Main Container */
.container {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Image Styling */
.img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* Table Container */
.table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

/* Tournament Table */
.tournamenttable {
  width: 100%;
  background-color: #ced0d4;
  font-size: 1.3rem;
  border-collapse: separate;
  border-radius: 2rem;
  overflow: hidden;
}

.tournamenttable th,
.tournamenttable td {
  border: 1px solid white;
  text-align: center;
}

.tournamenttable th {
  background-color: black;
  color: white;
}

/* Popup Modal */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 70%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

/* Popup Input */
.popup input {
  width: 100%;
  max-width: 300px;
  height: 1.5rem;
  border: 1px solid black;
}

/* Button Container */
.button {
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 2rem;
  margin-top: 1rem;
}

/* Cancel Button */
.cancel {
  width: 5rem;
  border-radius: 5px;
  border: none;
  background-color: #ced0d4;
  cursor: pointer;
}

/* Loft Button */
.loft {
  width: 5rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(232, 79, 79);
  color: white;
  cursor: pointer;
}

/* Save Button */
.save {
  width: 5rem;
  border-radius: 5px;
  border: none;
  background-color: #00b1fd;
  color: white;
  cursor: pointer;
}

/* Select Dropdown */
.select {
  width: 8rem;
  height: 1.5rem;
  border: 2px solid black;
  background-color: lightcoral;
  color: white;
  text-align: center;
}

/* Form Inputs */
.inputs {
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

/* Date Inputs Container */
.dates {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 100%;
  max-width: 20rem;
}

/* Date Label */
.dates h2 {
  font-size: 16px;
  color: #555;
}

/* Date Input */
.datesInput {
  width: 100%;
  max-width: 12rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}



@media (max-width: 600px) 
{
  .container
  {
    width: 100%;
  }
  .tournamenttable
  {
    width: 100%;
    font-size: 0.8rem;
  border-radius: 0.2rem;

  }
  .popup
  {
    width: 90%;
    height: 100%;
  }
  .button
  {
    width: 80%;

  }
  .button button 
  {
    width: 30%;
    font-size: 1rem;
  }
  .tournamenttable th,
.tournamenttable td {
  border: 1px solid white;
  
  text-align: center;
}

.tournamenttable th {
  background-color: black;
  color: white;
}
}