.MainBox {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.Headline {
  font-weight: 100;
}
.Boxes {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.LeftBox {
  padding-top: 2rem;
  width: 300px;
  height: 250px;
  border: 5px solid #282b30;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.RightBox {
  padding-top: 2rem;
  width: 300px;
  height: 250px;
  border: 5px solid #282b30;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  font-size: 10rem;
  color: #282b30;
}
.fbname {
  position: relative;
  top: -40px;
  font-size: 1rem;
  margin-top: 0;
}
.wanumber {
  position: relative;
  top: -40px;
  font-size: 1rem;
  margin-top: 0;
}

@media (max-width: 700px) {
  .LeftBox,
  .RightBox {
    width: 200px;
    height: 150px;
  }
  .logo {
    font-size: 8rem;
  }
  .wanumber,
  .fbname {
    top: -30px;
  }
}
@media (max-width: 500px) {
  .LeftBox,
  .RightBox {
    width: 150px;
    height: 100px;
  }
  .logo {
    font-size: 6rem;
  }
  .wanumber,
  .fbname {
    top: -20px;
  }
}
