body 
{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;

}
/* Hide Google Translate top bar */
.goog-te-banner-frame {
  display: none !important;
}

/* Force body to stay in the correct position */
body {
  top: 0px !important;
  position: relative !important;
  width: 100%;
}

/* Hide floating Google Translate popup */
.goog-te-gadget {
  display: none !important;
}

